.text {
  text-align: left;
}
.list1{
    font-size: 2.2vw;
    font-weight: 800;
}
.list2{
    font-size: 1.8vw;
    font-weight: 500;
}
.list3{
    font-size: 1.5vw;
}
.list4{
    font-size: 2.5vw;
}

.list > h6:hover {
  font-weight: bold;
  background-color: rgb(234, 229, 222);
}
.list > h6 {
    font-size: 1.1vw;
    padding-top: 0.5vw;
}
.bold {
  font-weight: bolder;
}
@media (min-width:200px ) and (max-width:768px) {
  .list > h6 {
    font-size: 14px;
  }
  .list1{
    font-size: 24px;
    
}
.list2{
    font-size: 18px;
    
}
}
@media (min-width:575px ) and (max-width:768px){
    .list3{
        font-size: 18px;
    }
    .list4{
        font-size: 25px;
    }
}
@media (min-width:200px ) and (max-width:576px){
    .list3{
        font-size: 6vw;
    }
    .list4{
        font-size: 8vw;
    }
}
